* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial;
  background: rgb(207, 207, 207)
}

h1 {
    display: flex;
    justify-content: center;
}

div {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #393e46;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb
}

.navbar li a:hover {
    background-color: #148f89;
}

.message {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.searchContainer {
    padding: 0;
    overflow: hidden;
    background-color: #8cbddf;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.searchContainer input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
}
  
.searchContainer button {
    float: left;
    width: 30%;
    padding: 10px;
    background: rgb(23, 167, 136);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
 }

.searchContainer button:hover {
    background: #148f89;
}

.result {
    overflow: hidden;
    background-color: #eeeeee;
    padding: 20px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

.result img {
    border: 1px solid black;
}

.result div table {
    border-collapse: collapse;
    border-color: black;
    background-color: #232931;
}

.result div table th, tr, td {
    padding: 5px 10px;
    color: white;
}

th {
    background-color: #393e46;
    color: white;
}